{% extends 'base_page.html' %}

{% load static %}

{% block title %} Unimore training center {% endblock %}

{% block content %} 
    
    <div class="container">
    
        <h3 style="text-align: center">Welcome to UnimoreGym </h3>
        Allena anche il corpo invece che studiare e basta.<br>
        Naviga il sito per vedere i corsi, gli abbonamenti offerti e il nostro ampio staff di allenatori.
        In caso di qualche corso susciti il tuo interesse stipula con noi un abbonamento e vieni ad allenarti, altrimenti puoi sempre venire in sala pesi 
    </div>
    
{% endblock %}